<header class="header flex-center">
  <nav class="screen-width flex-between">
    <ul class="menu1 bdesktop5 flex-between">
      <li class=""><a href=""><div class=""><img class="img-fluid logo-flickr" alt="logo flickr" src="../../assets/img/logo.png"/></div></a></li>
      <li class=""><a href="">Explorez</a></li>
      <li class=""><a href="">Tirages photos</a></li>
      <li class=""><a href="">Passez à la version pro</a></li>
    </ul>
    <ul class="menu2 bdesktop5 flex-between">
      <li class=""><input type="text" class="search" label="search" placeholder="photos, groupes..."/></li>
      <li class=""><a href=""><div class="img-fluid"><img src="../../assets/img/logodown.png" alt="logo téléchargement"></div></a></li>
      <li class=""><a href="">Connexion</a></li>
      <li class=""><a href=""><button class="btn-header">S'inscrire</button></a></li>
    </ul>
  </nav>
</header>

