<h1>Recherche de photos</h1>

<div class="search">
  <label for="search">Mots-cle:
    <input id="search" type="text" [(ngModel)]="userTags" />
  </label>
  <button (click)="search()">Rechercher</button>

  <label for="size">Taille minimale:
    <select id="size" [(ngModel)]="tailleImg">
      <option value="0" selected>Petite</option>
      <option value="640">Moyenne</option>
      <option value="1024">Grande</option>
    </select>
  </label>

  <label for="date-min">Date d'upload mini:
    <input id="date-min" type="date" [(ngModel)]="dateMin" />
  </label>

  <label for="date-max">Date d'upload maxi:
    <input id="date-max" type="date" [(ngModel)]="dateMax" />
  </label>

  <label for="methode-tri">Trier par:
    <select id="methode-tri" [(ngModel)]="methodeTri">
      <option value="date-posted-desc" selected>Date de publication (du plus recent au plus ancien)</option>
      <option value="date-posted-asc">Date de publication (du plus ancien au plus recent)</option>
      <option value="date-taken-desc">Date de prise (du plus recent au plus ancien)</option>
      <option value="date-taken-asc">Date de prise (du plus ancien au plus recent)</option>
      <option value="interestingness-desc">Interet decroissant</option>
      <option value="interestingness-asc">Interet croissant</option>
      <option value="relevance">Pertinence</option>
    </select>
  </label>
  <label for="gallery">
    <input id="gallery" type="checkbox" [(ngModel)]="inGallery" />
    Ne rechercher que les images appartenant a une galerie
  </label>

</div>

<div class="wrapImage">
  <div  *ngFor="let url of urlImages">
    <img src={{url}}>
  </div>
</div>
